//font
$main-font : 'Rajdhani',
sans-serif;

//colors
$info-color: rgb(0, 0, 0);
$font-color : white;

//font-size
$p-size : 25px;
$p1-size : 35px;
$banner-size : 5rem;

//font-weight
$thin-weight : 300;
$medium-thin-weight : 400;
$medium-weight : 500;
$bold-weight : 600;